<div class="card mb-4">
    <div class="card-body">
        <form action="/agregar" method="POST">
            <div class="row">
                <div class="col"><input type="text" name="nombre" class="form-control" placeholder="Nombre" required></div>
                <div class="col"><input type="number" name="cantidad" class="form-control" placeholder="Cantidad" required></div>
                <div class="col"><input type="number" step="0.01" name="precio" class="form-control" placeholder="Precio" required></div>
                <div class="col"><button type="submit" class="btn btn-success">Agregar</button></div>
            </div>
        </form>
    </div>
</div>
